<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @career_stat.team %>
</p>

<p>
  <strong>Reg wins:</strong>
  <%= @career_stat.reg_wins %>
</p>

<p>
  <strong>Reg losses:</strong>
  <%= @career_stat.reg_losses %>
</p>

<p>
  <strong>Pts for:</strong>
  <%= @career_stat.pts_for %>
</p>

<p>
  <strong>Pts against:</strong>
  <%= @career_stat.pts_against %>
</p>

<p>
  <strong>Moves:</strong>
  <%= @career_stat.moves %>
</p>

<p>
  <strong>Playoff appearances:</strong>
  <%= @career_stat.playoff_appearances %>
</p>

<p>
  <strong>Playoffs wins:</strong>
  <%= @career_stat.playoffs_wins %>
</p>

<p>
  <strong>Playoffs losses:</strong>
  <%= @career_stat.playoffs_losses %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @career_stat.integer %>
</p>

<p>
  <strong>Championship appearances:</strong>
  <%= @career_stat.championship_appearances %>
</p>

<p>
  <strong>Championship wins:</strong>
  <%= @career_stat.championship_wins %>
</p>

<p>
  <strong>Championship losses:</strong>
  <%= @career_stat.championship_losses %>
</p>

<%= link_to 'Edit', edit_career_stat_path(@career_stat) %> |
<%= link_to 'Back', career_stats_path %>
